name: Publish
on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v5

      - name: Publish package
        run: npx jsr publish

      - name: Make npm preparation script executable
        run: chmod +x ./prepare-npm.sh

      - name: Run prepare-npm.sh script
        run: ./prepare-npm.sh

      - name: Set up Node.js for NPM publishing
        uses: actions/setup-node@v6
        with:
          node-version: "latest"
          check-latest: true
          scope: "@musodojo"
          registry-url: "https://registry.npmjs.org"

      - name: Publish to NPM
        run: npm publish ./npm --access public
